#composer
vendor
composer.lock

#binaries
bin/sabre-cs-fixer
bin/php-cs-fixer
bin/phpunit

#vim lock files
.*.swp

#development stuff
tests/cov
.php_cs.cache

#phpstan/phpstan
bin/phpunit.bat
bin/phpstan.bat
bin/phpstan
bin/php-parse.bat
bin/php-parse
