<?php

$config = PhpCsFixer\Config::create();
$config->getFinder()
    ->exclude('vendor')
    ->in(__DIR__);
$config->setRules([
    '@PSR1' => true,
    '@Symfony' => true,
    'ordered_imports' => [
        'imports_order' => [
            'class', 'function', 'const',
        ],
    ],
]);

return $config;