language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: 7

script:
    - ./bin/phpunit
    - ./bin/sabre-cs-fixer fix . --dry-run --diff

before_script: composer install --dev
