parameters:
  level: 8
  phpVersion: 70430 # PHP 7.4.30
  ignoreErrors:
  -
    message: "#^If condition is always true.$#"
    count: 1
    path: lib/Loop/Loop.php
  -
    message: "#^Left side of && is always true.$#"
    count: 1
    path: lib/Loop/Loop.php
  -
    message: "#^Variable \\$timer might not be defined.$#"
    count: 1
    path: lib/Loop/Loop.php
  -
    message: "#^Only booleans are allowed in an if condition, int<0, max>|false given.$#"
    count: 1
    path: lib/Loop/Loop.php
  -
    message: "#^Instanceof between Generator<mixed, mixed, mixed, TReturn> and Generator will always evaluate to true.$#"
    count: 1
    path: lib/coroutine.php
  -
    message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertInstanceOf\\(\\) with .* and .* will always evaluate to true\\.$#"
    count: 1
    path: tests/Event/EmitterTest.php
  -
    message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertFalse\\(\\) with false will always evaluate to true\\.$#"
    count: 4
    path: tests/Event/EmitterTest.php
  -
    message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertTrue\\(\\) with false will always evaluate to false\\.$#"
    count: 1
    path: tests/Event/EmitterTest.php
  -
    message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertInstanceOf\\(\\) with .* and .* will always evaluate to true\\.$#"
    count: 1
    path: tests/Event/WildcardEmitterTest.php
  -
    message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertFalse\\(\\) with false will always evaluate to true\\.$#"
    count: 5
    path: tests/Event/WildcardEmitterTest.php
  -
    message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assertTrue\\(\\) with false will always evaluate to false\\.$#"
    count: 1
    path: tests/Event/WildcardEmitterTest.php
